head
    title EduJetPlayer
    link(href='http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css', rel='stylesheet')
    script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.4.10/angular.min.js')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js')
    link( rel='stylesheet' href='/textangular/dist/textAngular.css')
    script( src='/textangular/dist/textAngular-rangy.min.js')
    script( src='/textangular/dist/textAngular-sanitize.min.js')
    script( src='/textangular/dist/textAngular.min.js')
    script( src='/angular-file-saver/dist/angular-file-saver.bundle.js')
    //script(src="/angular/angular.min.js")
    //script(src="/angular-sanitize/angular-sanitize.min.js")
    script(src="/videogular/dist/videogular/videogular.js")
    script(src="/videogular-controls/vg-controls.js")
    script(src="/videogular-overlay-play/vg-overlay-play.js")
    script(src="/videogular-poster/vg-poster.js")
    script(src="/videogular-buffering/vg-buffering.js")
    link( rel='stylesheet' href='/css/font-awesome.css')
    link( rel='stylesheet' href='/css/style.css')
    script(src='/js/index.js')
    link( href="/video.js/dist/video-js.css" rel="stylesheet")
    link( href="/videojs-overlay/dist/videojs-overlay.css" rel="stylesheet")
    script( src="/video.js/dist/video.js")
    script( src="/vjs-video/dist/vjs-video.js")
    script( src="/videojs-overlay/dist/videojs-overlay.js")
    script( src="/videojs-youtube/dist/Youtube.min.js")
    script( src="/videojs-contrib-quality-levels/dist/videojs-contrib-quality-levels.min.js")
    script( src="https://cdn.streamroot.io/videojs-hlsjs-plugin/1/stable/videojs-hlsjs-plugin.js")