.col-md-2.pull-right
    .sidebar.affix.pre-scrollable(style='height:100%; min-height:100%; width:15%; min-width:15%')
            div(ng-repeat="post in posts.slice().reverse()", style="font-size:20px")
                    div(class="well row")
                        span(class="glyphicon glyphicon-trash", ng-click="delete(post)")
                        div(style="margin-left:20px;" ng-bind-html="post.text")


            ul(class="pagination" ng-controller="NavCtrl" style="font-weight: bold;")
                li
                    a(ng-click="prev()") << Prev
                li
                    a(ng-click="next()") Next >>
            div(ng-hide="isLoggedIn()")
                h3
                    | You need to
                    a(href="/#/login", style="margin:10px;") Log In
                    | or
                    a(href="/#/register", style="margin:10px;") Register
                    | before you can save words.