doctype html
html
    include ./includes/head.jade
    body(ng-app='flapperNews')
        nav(class="navbar navbar-default navbar-fixed-top", ng-controller="NavCtrl", data-ng-init="init()")

            div(class="container-fluid")
                div(class="navbar-header")
                    a(class="navbar-brand" href="/#/home") EduJetPlayer
                ul(class="nav navbar-nav navbar-right" style="margin-right:10px;")
                    li(ng-show="isLoggedIn()")
                        a(href="#/my_profile/{{currentUser()}}")
                            //img(ng-src="{{avatar()}}" width="27px")
                            img(ng-show="isLoggedIn()" ng-src="{{getAvatar()}}" class="img-rounded" alt="{{avatar}}" width="32" height="32")
                            //span(class="glyphicon glyphicon-user") {{ currentUser() }}
                    li(ng-show="isLoggedIn()")
                        a(href="" ng-click="logOut()")
                            span( class="glyphicon glyphicon-log-out") Log Out
                    li(ng-hide="isLoggedIn()")
                        a(href="/#/login")
                            span( class="glyphicon glyphicon-log-in") Log In
                    li(ng-hide="isLoggedIn()")
                        a(href="/#/register")
                            span( class="glyphicon glyphicon-leaf") Register
                    li
                        a(ng-click="back()")
                            span( class="glyphicon glyphicon-fast-backward") Back

        div( class="row" style="margin-top:80px;")
        .container-fluid
            section(ui-view)

    //include ./includes/foot.jade