//div(ng-controller="VideoCtrl as controller",class="videogular-container well row")
    videogular(vg-theme="controller.config.theme.url")
        vg-media(vg-src="controller.config.sources",
        vg-tracks="controller.config.tracks",
        vg-native-controls="true" )
    //videogular(vg-theme="controller.config.theme")
        vg-media(vg-src="controller.config.sources",
                vg-tracks="controller.config.tracks")
        vg-controls
            vg-play-pause-button
            vg-time-display
                |{{ currentTime | date:'mm:ss' }}
            vg-scrub-bar
                vg-scrub-bar-current-time
            vg-time-display
                |{{ timeLeft | date:'mm:ss' }}
            vg-volume
                vg-mute-button
                vg-volume-bar
            vg-fullscreen-button
        vg-overlay-play
        vg-poster(vg-url='controller.config.plugins.poster')

doctype html

include ./includes/left_sidebar.jade

.col-md-8
    div(ng-controller="VideoCtrl as controller")
        video#video(width='100%', controls, preload='true', class="video-js vjs-default-skin vjs-big-play-centered vjs-16-9", data-setup='{"fluid": true}', vjs-video, vjs-media="media")
        // button(class="btn btn-default" ng-click="addSub()") Перевод фразы
        //source(src="video/sintel-short.mp4", type="video/mp4")
        //track(label='English', kind='subtitles', srclang='en', src='subtitles/vtt/sintel-en.vtt', default='')



include ./includes/right_sidebar.jade