div(class = "row")
    img(style="margin-right:20px;" align="left" src="{{user.image}}" class="img-rounded" alt="{{user.image}}" width="64" height="64")
    h1 {{ user.name }}
    form(ng-submit="change(user)", style="margin-top:30px;")
        h3 url of avatar
        div(class="form-group")
            input(
            type="text"
            class="form-control"
            placeholder="Avatar"
            ng-model="user.image"
            )
        button(type="submit", class="btn btn-primary")
            | drop users db
    form(ng-submit="download()", style="margin-top:30px;")
        button(type="submit", class="btn btn-primary")
            | download Anki
    .input-group(style='margin-top:30pt;')
                    label.input-group-btn
                        span.btn.btn-primary
                            | Импорт прогресса Anki
                            input#ankiProgress(type='file',  accept='/.apkg', ng-model="myProgress", custom-on-change="changedProgress", style="display: none;")
hr
br
h2 Сохраненные слова:
div(ng-repeat="post in parting | orderBy:'knowledge'" style="display: inline-block;")
    span.badge(ng-class="{'color-red': post.knowledge === 1, 'color-yellow': post.knowledge === 2, 'color-green': post.knowledge === 3}"  )
        | {{post.word}} : {{post.translate}}