

div
    h3 {{post.title}} by {{post.author}}
    div(style = "display:inline; position: absolute;right: 0;margin-right:10px;")
        span(class="glyphicon glyphicon-thumbs-up", ng-click="incrementPostUpvotes(post)")
        span(class="badge")
            | {{post.upvotes}}
    div(style="margin-left:20px;" ng-bind-html="post.text")

    img(class="img-responsive" src="{{post.image}}" alt="{{post.image}}" style="margin:10px;")
    div(ng-show="currentUser()")
        span(class="label label-pill label-info" style="margin-left:10px;")
            a(href="#/change/posts/{{post._id}}" style="color: white;")
                | Change
hr

div(ng-hide="isLoggedIn()")
    h3
        |You need to
        a(href="/#/login", style="margin:10px;") Log In
        |or
        a(href="/#/register", style="margin:10px;") Register
        |before you can add a post.
