div(class = "row")
    img(style="margin-right:20px;" align="left" src="{{user.image}}" class="img-rounded" alt="{{user.image}}" width="64" height="64")
    h1 {{ user.name }}
hr
br
h2 Posted:
div(ng-repeat="post in parting | orderBy:'-upvotes'")
    span(class="glyphicon glyphicon-thumbs-up", ng-click="incrementUpvotes(post)")
        |{{post.upvotes}}
    span(style="font-size:20px; margin-left:10px;" ng-show="post.title")
        |{{post.title}} posted by {{post.author}}
