
<form ng-submit="changePost()" ng-show="isLoggedIn()" style="margin-top:30px;">
  <h3>Change post</h3>
  <div class="form-group">
    <input type="text" ng-model="post.title" class="form-control"/><br/><img ng-src="{{post.image}}" alt="{{post.image}}" style="margin:10px;" class="img-responsive"/>
    <input type="text" ng-model="post.image" class="form-control"/>
  </div>
  <div class="form-group">
    <text-angular ng-model="post.text"></text-angular>
  </div>
  <button type="submit" ng-click="changePost" class="btn btn-primary">Post</button>
</form>