<nav>
  <div class="row nav-wrapper grey darken-1">
    <div class="col s3 left-align">
      <a routerLink="/" class="brand-logo left">EduJetPlayer </a>
    </div>
    <div class="col s6 center-align"><app-anki-status></app-anki-status></div>
    <div class="col s3">
      <ul id="nav-mobile" class="right">
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="auth/login">Вход</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a routerLink="auth/register">Регистрация</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a routerLink="profile/usersettings">Личный кабинет</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
