<ng-container *ngIf="activeCuePoints">
  <div *ngIf="stopedOnSubtitle" class="translation-layer">
    <a *ngIf="currentTranslation" class="waves-effect waves-light"
      ><i class="material-icons left">save</i></a
    >
    <select *ngIf="currentTranslation" class="lang-selector">
      <option value="1" selected>ru</option>
      <option value="2">en</option>
      <option value="3">jp</option>
    </select>
    {{ currentTranslation }}
  </div>
  <div
    *ngFor="let cuePointData of activeCuePoints"
    class="captions-layer"
    (mouseup)="showSelectedText()"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
  >
    {{ cuePointData?.description }}
  </div>
</ng-container>
