.captions-layer {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 15%;
  margin-left: auto;
  margin-right: auto;
  max-width: 25%;
  width: fit-content;
  height: auto;
  font-family: sans-serif;
  color: white;
  z-index: 250;
  background-color: rgba(0, 0, 0, 0.7);
}
