<ng-container *ngIf="activeCuePoints">
  <div *ngIf="stopedOnSubtitle" class="translation-layer">
    <a
      *ngIf="currentTranslation"
      class="waves-effect waves-light"
      (click)="saveCard()"
      #savebtn
      ><i class="material-icons left">save</i></a
    >
    <select
      *ngIf="currentTranslation"
      class="lang-selector"
      (change)="onLangChanged($event)"
      #langselector
    >
      <option value="ru">ru</option>
      <option value="en">en</option>
      <option value="es">es</option>
    </select>
    {{ currentTranslation }}
  </div>
  <div
    *ngFor="let cuePointData of activeCuePoints"
    class="captions-layer"
    (mouseup)="showSelectedText()"
    (mouseenter)="onMouseEnter($event)"
    (mouseleave)="onMouseLeave($event)"
  >
    {{ cuePointData?.description }}
  </div>
</ng-container>
