<form [formGroup]="form">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Load Subtitles</h4>
      <div class="file-field input-field">
        <div class="btn">
          <span>Browse</span>
          <input type="file" (change)="onFileSelect($event)" />
        </div>

        <div class="input-field file-path-wrapper">
          <input
            class="file-path validate"
            type="text"
            placeholder="Open local subtitles or paste url"
            (change)="onInputChanged($event)"
          />
        </div>
      </div>
      <div class="input-field" *ngIf="!isLoading; else loader">
        <select
          #subtitlesselect
          *ngIf="loadedSubtitles.length !== 0; else empty"
          (change)="onSubtitlesSelectChange($event)"
        >
          <option *ngFor="let subtitle of loadedSubtitles" [value]="subtitle">
            {{ subtitle }}
          </option>
        </select>
        <label>Subtitles select</label>
      </div>
    </div>
    <span *ngIf="!isLoading; else loader">
      <span *ngIf="unknownWords">
        <span *ngIf="unknownWords.length !== 0; else empty2">
          <a *ngFor="let word of unknownWords" class="collection-item">
            {{ '[' + word + ']' }}
          </a>
        </span>
      </span>
    </span>
    <div class="modal-footer">
      <button
        *ngIf="isSubtitleSelected"
        class="modal-action btn waves-effect"
        (click)="onShowUnknownBtnClick()"
      >
        Загрузить неизвестные слова
      </button>

      <span *ngIf="unknownWords">
        <span *ngIf="unknownWords.length !== 0">
          <button
            type="submit"
            class="modal-action btn waves-effect"
            (click)="onSaveUnknownWordsBtnClick()"
          >
            Сохранить Ниизвестные слова в коллоду
          </button>
        </span>
      </span>

      <button
        type="button"
        (click)="onModalClose()"
        class="modal-action waves-effect waves-black btn-flat"
      >
        Закрыть
      </button>
    </div>
  </div>
</form>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #empty>
  <div class="center">
    No subs available
  </div>
</ng-template>

<ng-template #empty2>
  <div class="center">
    No unknown words
  </div>
</ng-template>
