<form [formGroup]="form">
  <div class="modal" #modal>
    <div class="modal-content">
      <h4 class="mb1">Load Subtitles</h4>
      <div class="file-field input-field">
        <div class="btn">
          <span>Browse</span>
          <input type="file" (change)="onFileSelect($event)" />
        </div>

        <div class="input-field file-path-wrapper">
          <input
            class="file-path validate"
            type="text"
            placeholder="Open local subtitles or paste url"
            (change)="onInputChanged($event)"
          />
        </div>
      </div>
      <div class="input-field">
        <select class="browser-default">
          <option value="" disabled selected
            >Choose subtitles (if more than 1 available)</option
          >
          <option value="1">sub 1</option>
          <option value="2">sub 2</option>
          <option value="3">sub 3</option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        (click)="onModalClose()"
        class="modal-action waves-effect waves-black btn-flat"
        [disabled]="form.disabled"
      >
        Отмена
      </button>
      <button
        type="submit"
        class="modal-action btn waves-effect"
        [disabled]="form.invalid || form.disabled"
      >
        Сохранить
      </button>
    </div>
  </div>
</form>
