<h4 i18n>Выберете колоду и шаблон карт</h4>
<br />
<div
  class="input-field col s12"
  *ngIf="userDecks$ | async as userDecks; else loader"
>
  <select #decknameselector *ngIf="userDecks.length !== 0; else empty">
    <option *ngFor="let deck of userDecks" [value]="deck">
      {{ deck }}
    </option>
  </select>
  <label i18n>Имя колоды:</label>
</div>
<br />
<br />
<div
  class="input-field col s12"
  *ngIf="userModels$ | async as userModels; else loader"
>
  <select #modelnameselector *ngIf="userModels.length !== 0; else empty">
    <option *ngFor="let model of userModels" [value]="model">
      {{ model }}
    </option>
  </select>
  <label i18n>Имя шаблона:</label>
</div>
<br />
<br />
<div
  class="input-field col s12"
  *ngIf="userService.currentUser.lastlang; else loader"
>
  <select #langselector>
    <option value="ru">ru</option>
    <option value="en">en</option>
    <option value="es">es</option>
  </select>
  <label i18n>Выбор языка на который переводить</label>
</div>

<br />
<br />

<div
  class="input-field col s12"
  *ngIf="userService.currentUser.lastlang; else loader"
>
  <select #fromlangselector>
    <option value="ru">ru</option>
    <option value="en">en</option>
    <option value="es">es</option>
  </select>
  <label i18n>Выбор языка с которого переводить</label>
</div>

<br />
<br />

<div class="input-field col s12">
  <input type="text" placeholder="testNote" #tagselector />
  <label i18n
    >Выбор тегов (эти теги будут добавлены к сохраняемым катрочкам)</label
  >
</div>

<button
  type="submit"
  class="modal-action btn waves-effect"
  (click)="saveUserSettings($event)"
  i18n
>
  Сохранить
</button>

<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

<ng-template #empty>
  <div class="center" i18n>
    Нет данных
  </div>
</ng-template>
