<div #particlesCanvas class="row">
  <particles
    [style]="myStyle"
    [width]="width"
    [height]="height"
    [params]="myParams"
  ></particles>

  <div class="col s12 center-align">
    <button
      class="waves-effect waves-light btn-large green"
      libParticleEffectButton
      pType="triangle"
      pParticlesAmountCoefficient="4"
      pOscillationCoefficient="400"
      pColor="#056018"
      [pHidden]="hidden"
      (click)="onResumeBtnClick()"
    >
      EduJetPlayer
    </button>
    <app-anki-status></app-anki-status>
  </div>
  <div class="col s3 center-align">
    <app-reffered-videos></app-reffered-videos>
  </div>
  <div class="col s6 center-align">
    <app-video-player></app-video-player>
  </div>
  <div class="col s3 center-align">
    <app-last-saved-cards></app-last-saved-cards>
  </div>
</div>
