<ul class="sidenav sidenav-fixed a-sidenav">
  <h4 i18n>Профиль</h4>

  <li class="bold" *ngFor="let link of links" routerLinkActive="active">
    <a [routerLink]="[link.url]" class="waves-effect waves-orange">
      {{ link.name }}
    </a>
  </li>
  <li class="bold">
    <a routerLink="/" class="waves-effect waves-orange" i18n>
      На главную
    </a>
  </li>

  <li class="bold last">
    <a href="#" class="waves-effect waves-orange" (click)="logout($event)" i18n
      >Выйти</a
    >
  </li>
</ul>

<main class="content">
  <router-outlet></router-outlet>
</main>

<div class="fixed-action-btn" #floating>
  <a class="btn-floating btn-large red">
    <i class="large material-icons">add</i>
  </a>
  <ul>
    <li>
      <a class="btn-floating green" routerLink="about"
        ><i class="material-icons">assignment</i></a
      >
    </li>
    <li>
      <a class="btn-floating blue" routerLink="tutorial"
        ><i class="material-icons">list</i></a
      >
    </li>
  </ul>
</div>
